/* Graph styling */

body {
  padding: 20px;  
}

.graphScene {
  margin: 20px 0;
  width: 800px;
  height: 600px;  
  border: 1px solid #eee;
}

.graphNode {
  margin: 0 20px 20px 0;
  fill: #f5f5f5;
  stroke: #ccc;
  stroke-width: 1;
  cursor: pointer;
}

.graphPoint {
  fill: #99e5ff;
  cursor: pointer;
}

.graphWireSegment {
  stroke: #ccc;
  stroke-width: 1;
}

