/* Graph styling */

body {
  padding: 20px;  
}

.hidden {
  display: none !important;  
}

.graphScene {
  margin: 20px 0;
  width: 800px;
  height: 600px;  
  border: 1px solid #eee;
}

.graphNode {
  margin: 0 20px 20px 0;
  fill: #f8f5ec;
  stroke: #99e5ff;
  stroke-width: 1;
  cursor: pointer;
}

.graphNode.selected {
  stroke-width: 2;
}

.graphPoint {
  fill: #99e5ff;
  cursor: pointer;
}

