/* Graph styling */

body {
  padding: 20px;
}

.button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.graphScene {
  margin: 20px 0;
  width: 900px;
  height: 600px;
  border: 1px solid #eee;
}

.graphNode {
  margin: 0 20px 20px 0;
  fill: #f5f5f5;
  stroke: #ccc;
  stroke-width: 1;
  cursor: pointer;
}

.graphPoint {
  fill: #99e5ff;
}

.graphPoint.north {
  cursor: n-resize;
}

.graphPoint.northEast {
  cursor: ne-resize;
}

.graphPoint.east {
  cursor: e-resize;
}

.graphPoint.southEast {
  cursor: se-resize;
}

.graphPoint.south {
  cursor: s-resize;
}

.graphPoint.southWest {
  cursor: sw-resize;
}

.graphPoint.west {
  cursor: w-resize;
}

.graphPoint.northWest {
  cursor: nw-resize;
}
